body .table {
    text-align: center;
    margin-top: auto;
    background-color: rgb(62, 62, 75);
     padding-top: 100px;
     padding-bottom: 100px;
}
.navbar {
position:fixed;
top: auto;
botton: auto;
display: visible;
}
.span {
    text-align: center;
    padding-left: 340px;
    color: white;
}
.image {
    padding-right: 75%;
   border-radius: 100%;
  
    
}
.navbar-brand {
    margin-right: 500px;
    font-family: cursive;
    font-weight: bolder;
}
.item1, .item2, .item3 {
    margin-right: 50px;
}
.discpt {
    padding-left: 250px;
    padding-right: 250px;
    font-size: 17px;
    text-align: center;
    color: white;
    
    
    
}

.col {
    font-size: 110px;

}

.icon {
    margin-left: 100px;
    
}
.icon1 {
margin-left: 350px;

}
.icon2 {
margin-left: 220px;
margin-top: 100px;
    
}
.icon3 {
    margin-left: 510px;
}
.icona {
    
    margin-top: 55px;
    margin-left: 476px;
    color: white;
}
.botton {
    margin-left: 37%;
    
}
#body1 {
    background-color: rgb(62, 62, 75);
    
}
